TEAM_ID=

PRODUCT_NAME=MKMPA
PRODUCT_BUNDLE_IDENTIFIER=com.example.mkmpa.MKMPA$(TEAM_ID)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0

// Framework search paths for Kotlin Multiplatform
FRAMEWORK_SEARCH_PATHS = $(inherited) $(SRCROOT)/../composeApp/build/xcode-frameworks/$(CONFIGURATION)/$(SDK_NAME)
OTHER_LDFLAGS = $(inherited) -framework ComposeApp
